@model IEnumerable<Tasks>
@{
    var error = ViewData.ContainsKey("Error") ? (Exception)ViewData["Error"] : null;
    
}
@if (error != null)
{
    <div class="error">
        <p>@error.Message</p>
        <p>@error.StackTrace</p>
    </div>
}

<div class="addTask">
    <a asp-controller="Tasks" asp-action="AddTask" class="button">Add a Task</a>
</div>

<div class="tasks">
    @foreach (Tasks tasks in Model)
    {
        string detailsLink = "/tasks/" + tasks.id;

        <div class="task">
            <div>
                <a href="@detailsLink">@tasks.name</a>
                @if (!String.IsNullOrEmpty(tasks.description)) {
                    <p><i>@tasks.description</i></p>
                }
            </div>
            <p>@tasks.id</p>
            <p>@tasks.userId</p>
            <time datetime="@tasks.timeSpent">@tasks.timeSpent</time>

            <div>
                <a class="button" asp-route-id="@tasks.id" asp-action="DeleteTask" asp-controller="Tasks">Delete</a>
            </div>
        </div>
    }
</div>
